.ColorSet {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ColorSet-colors {
	width: 100%;
	height: 89vh;
	display: grid;
	grid-template-columns: repeat(3, 33.3%);
	grid-gap: 0;
}
.ColorSet .ColorBox {
	width: 100%;
	height: 100%;
}
